# Membros: 
Augusto Ricardo Ferreira, Matheus Pereira Belarmino

TARGET: nota ciencias da natureza (NU_NOTA_CN)

FUTEURE: 
Situação de conclusão do Ensino Médio (TP_ST_CONCLUSAO);
Tipo de escola do Ensino Médio (TP_ESCOLA);
Qual é a renda mensal de sua família (Q006);
Na sua residência tem acesso à Internet? (Q025); 
Incluindo você, quantas pessoas moram atualmente em sua residência? (Q005); 
Localização da Escola (TP_LOCALIZACAO_ESC)

# Projeto 3 - CDADOS

**Introdução e mineração de dados**

In [15]:
# carregando bibliotecas
%matplotlib inline 
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\zTodoresto\Insper\Projeto_3_Cdados\P3\Projeto3

In [16]:
#dados = pd.read_csv('c:\zTodoresto\Insper\Projeto_3_Cdados\P3\MICRODADOS_ENEM_2023.csv', sep = ';', encoding='ISO-8859-1', chunksize=1000)
#dados = pd.concat(dados)

A partir dos dados originais, foi criado um novo dataframe com as colunas que nos interessam para a análise.

In [17]:
df_filtrado = dados[['NU_NOTA_CN','TP_ESCOLA','Q006','Q025','TP_LOCALIZACAO_ESC','Q005','TP_PRESENCA_CN']]
df_filtrado

,NU_NOTA_CN,TP_ESCOLA,Q006,Q025,TP_LOCALIZACAO_ESC,Q005,TP_PRESENCA_CN
0,NaN,1,F,B,NaN,5,0
1,NaN,1,H,B,NaN,3,0
2,502.0,1,C,B,NaN,5,1
3,459.0,2,C,B,1.0,5,1
4,402.5,2,B,A,1.0,4,1
...,...,...,...,...,...,...,...
3933950,566.2,1,F,B,NaN,5,1
3933951,377.2,1,F,B,NaN,4,1
3933952,NaN,2,B,B,NaN,6,0
3933953,515.7,3,N,B,NaN,3,1
3933954,NaN,2,C,B,1.0,4,0

In [22]:
df_filtrado = df_filtrado.loc[df_filtrado['TP_PRESENCA_CN'] == 1]

KeyError: 'TP_PRESENCA_CN'

In [19]:
df_filtrado

0          False
1          False
2           True
3           True
4           True
           ...
3933950     True
3933951     True
3933952    False
3933953     True
3933954    False
Name: TP_PRESENCA_CN, Length: 3933955, dtype: bool